@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.img{
  width: 30px;
  border-radius: 100%;
}
.boxes{
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
}
.upperSection{
  display: flex;
  grid-template-columns: repeat( 12 , 1fr);
  justify-content: space-between;

}
.data{
  grid-column: span 4;
}
.lowerSection{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
  border-radius: 12px;
}
.lastBoce{
  grid-column: span 4;
}
@media (max-width: 980px){
  .upperSection{
    display: grid;
    grid-template-columns: repeat( 6 , 1fr);
  }
  .boxes{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
  }
  .lowerSection{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    border-radius: 12px;
  }
  .lastBoce{  
    grid-column: span 8;
  }
  .data{
    grid-column: span 8;
  }
}
@media (max-width: 480px){
  .upperSection{
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
  }
}
